{% extends "base.html" %}

{% block content %}

<form method="post" action="#">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        {{ form.pavadinimas.label(class="form-control-label") }}
        {{ form.pavadinimas(class="form-control", value=group.pavadinimas) }}
    </div>
    
    <div class="form-group">
        {{ form.saskaitos.label(class="form-control-label") }}
        {{ form.saskaitos(class="form-control", value=group.saskaitos) }}
    </div>
    {{ form.submit }}
</form>
{% endblock %}